

:root {
    --purple: #3e0249

}

body{
    margin:0;
    padding: 0;
    background-image:url(/img/catpaw.png);
    background-size: 400px;
}


.board { 
    width:100vw;
    height:100vh;
    display: grid;
    justify-content:center;
    align-content: center;
    justify-items: center;
    align-items : center;
    grid-template-columns: Repeat(3,auto)
}

* {
    box-sizing : border-box;
}



.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#gameboard{
    width: 450px;
    display:flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.box {
    height:150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--purple);
    font-size: 150px;
    
}


#testing {
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



#restartBtn {
font-size: 50px;
width: 20vh;
height:7vh;
}

#restartBtn:hover{
  
    background: url(img/cryingcat2.jpg);
  font-size: 0px;
}
#restartBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}


#playText{
font-size: 50px;
}














































/* #box0, #box1 , #box2{
border-style: solid;
border-color:var(--purple);
border-bottom-width: 0px;
border-top-width: 0px;

}

#box0{
    border-style: solid;
    border-color:var(--purple);
    border-left-width: 0px;
}

#box2{
    border-style: solid;
    border-color:var(--purple);
    border-right-width: 0px;
}

#box3, #box4 , #box5{
    border-style: solid;
    border-color:var(--purple);
    border-bottom: 0px;
   
    }

#box3 { 
    border-style: solid;
    border-color:var(--purple);
    border-left-width: 0px;
}
#box5 { 
    border-style: solid;
    border-color:var(--purple);
    border-right-width: 0px;
}



#box6, #box7 , #box8{
    border-style: solid;
    border-color:var(--purple);
    border-bottom-width: 0px;
    

    }

    #box6 { 
        border-style: solid;
        border-color:var(--purple);
        border-left-width: 0px;
    }

    #box8 { 
        border-style: solid;
        border-color:var(--purple);
        border-right-width: 0px;
    } */